@{
    ViewBag.Title = "About";
}
<h2>About AJSON!</h2>

<br />

<h4>Address</h4>
<address>
    <a href="http://www.blox.io" target="_blank">www.blox.io</a>
</address>


<h4>Contact Details</h4>
<ul class="list-unstyled">
    <li>Twitter: <a href="https://twitter.com/ajsondev"  target="_blank">https://twitter.com/ajsondev</a><br></li>
</ul>