@{
    ViewBag.Title = "Contact";
}
<h2>Contact AJSON!</h2>

<br/>

<h4>Address</h4>
<address>
   <a href="www.blox.io">www.blox.io</a>
</address>

							
<h4>Contact Details</h4>
<ul class="list-unstyled">
    <li>Twitter: <a href="https://twitter.com/ajsondev">https://twitter.com/ajsondev</a><br></li>
</ul>

